@import "../variables";

.main-sidebar {
  background-color: $color-dark-blue;

  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;

  .sidebar {
    padding-bottom: 10px;
  }

  .sidebar-menu {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

    li > a {
      position: relative;
    }

    &> li {
      position: relative;
      margin: 0;
      padding: 0;
    }

    &> li a {
      padding: 12px 5px 12px 15px;
      display: block;
    }

  }
}

.skin-blue {
  .sidebar a {
    color: $sidebar-link-color;
  }

  .sidebar-menu {
    &> li > a {
      border-left: 3px solid transparent;
    }
  }
}