@import "variables";

a {
  text-decoration: none;
  background-color: transparent;
}

.autocomplete-list {
  &>ul {
    padding: 0;
  }

  .list-group-item {
    .autocomplete-anchor-label {
      display: block;
    }
  }
}